*
{
    margin:0;
    padding:0;    
    box-sizing: border-box;
}

/* Home Page / Index Page */

div.index-navigation
{
  position: fixed;
	margin-top: 380px;
	margin-left: -10px;
	display: block;
	padding: 10px;
	width: 250px;
	height: 40px;
	border: 1px solid #008080;
	text-align: right;
	background-color: #FFFFFF;
	z-index: 1;
	opacity: 0.9;
}

div.index-navigation a
{
	text-decoration: none;
	color: #008080;
}

div.index-navigation:hover
{
	padding-left: 40px;
	border: 1px solid #FFFFFF;
	background-color: #FFF5EE;
}

div.titleBlock
{
	display: block;
	background-color: #EDC9AF;
	position: relative;
	width: 1600px;
	height: 80px;
	margin-top: -140px;
	margin-left: -10px;
	opacity: 0.9;
}

div.backgroundBlock1
{
	display: block;
	background-color: #FFF5EE;
	position: relative;
	width: 1500px;
	height: 80px;
	margin-top: 40px;
	margin-right: -10px;
	margin-left: 420px;
	opacity: 0.5;
}

div.backgroundBlock2
{
	display: block;
	background-color: #008080;
	position: relative;
	width: 1000px;
	height: 80px;
	margin-top: 60px;
	margin-right: -10px;
	margin-left: 920px;
	opacity: 0.5;
}

div.headertitle
{
	position: relative;
	font-size: 72px;
	color: #FFFFFF;
	margin-top: -80px;
	text-align: right;
	padding-right: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFF5EE;
    color: #EDC9AF;
    text-align: center;
    padding: 20px;
}

.titleBlock img{
	padding: 12px;
	width: 50%;
}

/* End Index Page */

/* Installation Page */

body 
{
    font-family: Verdana, sans-serif; margin:0;
    background-image: url("Manuals/background.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.box {
	display: block;
	width: 1000px;
	height: 50px;
	opacity: 0.9;
	background-color: #77BFC7;
}

.boxTitle {
	display: block;
	width: 1000px;
	height: 50px;
	opacity: 0.9;
	background-color: #77BFC7;
	margin: auto;
}

div.navigation
{
  position: fixed;
  margin-left: -10px;
  display: block;
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  height: 45px;
  border: 1px solid #008080;
  text-align: right;
  background-color: #FFFFFF;
  z-index: 1;
  opacity: 0.7;
}

div.navigation a
{
  text-decoration: none;
  color: #008080;
}

div.navigation:hover
{
  padding-left: 50px;
  border: 1px solid #FFFFFF;
  background-color: #FFF5EE;

}

div.locationPath {
  text-align: center;
  margin-top: 10px;
}

div.locationPath a{
  color: #008080;
  font-size: 14px;
}
/* End Installation Page */


